@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

form {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: Centers items vertically */
  flex-wrap: nowrap; /* Prevents items from wrapping onto new lines */
}
